<h1 style="text-align: center;" >WISON</h1>
<h2>Input Wison:</h2>
<main>
  
  <div class="container">
    <div class="modal-dialog" >
      <label for="text" >{{line}}</label>
    </div>
    <textarea matInput id="text" #myTextArea (click)="getLineNumberAndColumnIndex(myTextArea)"  (keyup)="getLineNumberAndColumnIndex(myTextArea)" (keyup)="getLineNumberAndColumnIndex(myTextArea)"  cols="100" rows="20" [(ngModel)]="text"></textarea>
    
    
    <div class="example-button-row">
      
          <input type="file" id='fileForm' #fileArea (change)="fileUpload(fileArea)"  placeholder="Abrir">
        
      <button mat-raised-button color="accent" (click)="parseWinson()" >Run</button>      
    </div>
    <h2 >OutPut</h2>
    <textarea id="newText" matInput cols="100" rows="20">{{outPut}}</textarea>
  </div>
  
  
</main>

